
.section-divider{
    background: linear-gradient(90deg, transparent,  rgb(82, 82 ,82), rgb(178, 178, 178), rgb(82, 82, 82), transparent);
    height: 5px;
    margin: 0.25rem 0;
}
.marquee-track{
    height: 80px;
    width: 100%;
}

@media (min-width: 640px) {
    .marquee-track{
        height: 100px;
    }
}

@media (min-width: 768px) {
    .marquee-track{
        height: 110px;
    }
}
